@media screen and (min-width:768px) {
    .inicio {
        flex-direction: row-reverse;
    }

    .inicio img {
        max-width: 200px;
    }

    .navbar {
        font-size: inherit;
    }

    .profile__img {
        align-self: start;
    }

    .header__parrafo span {
        text-align: start;
    }

    .redes__header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header__cv {
        padding-right: 2.5rem;
    }

    .sobre-mi__titulo {
        text-align: start;
    }

    .skills__item, .hobbies__item {
        margin: 5px;
        width: 30%;
        max-width: 380px;
    }

    .formacion__list {
        display: flex;
    }

    .contacto__encabezado {
        padding-right: 75px;
    }
}

@media screen and (min-width: 1023px) {

    body {
        font-size: inherit;
        scroll-behavior: smooth;
    }

    .navbar > a {
        display: none;
    }

    .navbar ul {
        display: flex;
    }

    .navbar li {
        padding: 0 10px;
        transition: 0.4s;
    }

    .navbar li:hover {
        transform: scale(1.1);
        color: #2ac032;
    }

    .navbar li:nth-child(7) {
        display: none;
    }

    .correo {
        font-weight: 700;
        color: #041104;
        transition: 0.6s;
    }

    .correo:hover {
        background-color: #1a751e;
        color: #fafafa;
        border-radius: 5px;
        padding: 10px;
    }

    .inicio {
        padding: 20px 80px;
    }

    .inicio img {
        max-width: 300px;
    }

    .sobre-mi {
        padding: 20px 80px;
    }

    .skills__item, .hobbies__item {
        margin: 10px;
    }

    .formacion__list li {
        align-items: center;
    }

    .proyectos {
        flex-direction: row;
        gap: 0 150px;
    }

    .proyectos:nth-child(3) {
        flex-direction: row-reverse;
    }

    .proyectos__descripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem 2rem;
        padding-top: 50px;
    }

    .contacto {
        flex-direction: row;
        justify-content: center;
    }

    .contacto__imagen {
        display: flex;
    }

    .contacto__imagen img {
        width: 550px;
        height: 400px;
        aspect-ratio: 1.1;
    }

}